# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/weislabc/122.201.127.73"
PassengerBaseURI "/bcd"
PassengerPython "/home/weislabc/virtualenv/122.201.127.73/2.7/bin/python2.7"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
